<!DOCTYPE html>

<html lang="en"dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Fast Food Order Page</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
                </head>
                <body>
                    <div class="container text-center">
                        <div>
                            <form th:action="@{/logout}" method="post">
                                <p>
                                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                                </p>
                                <input type="submit" value="Sign Out" />
                            </form>
                        </div>
                        <div>
                            <h1>List of Restaurants</h1>
                        </div>
                        <div>
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>E-Mail</th>
                                        <th>Restaurant</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="restaurant: ${listRestaurant}">
                                        <td th:text="${restaurant.id}">Restaurant ID</td>
                                        <td th:text="${restaurant.email}">Restaurant Email</td>
                                        <td th:text="${restaurant.userName}">Restaurant</td>
                                        <td th:text="${restaurant.phoneNumber}">Phone Number</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </body>
                </html>
