<!DOCTYPE html>

<html lang="en"dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Food  Delivery Home Page</title>
        <meta charset="UTF-8">
            <link href="/css/split_page.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div class="split left">
                <h1>Restaurants</h1>
                <a th:href="@{/register}" class="btn">Order Now</a>
            </div>
            <div class="split right">
                <h1>Fast Food</h1>
                <a th:href="@{/register_fastfood}" class="btn">Order Now</a>
            </div>
        </div>
        <script src="/css/js/index.js" type="text/javascript"></script>

    </body>
</html>
