<!DOCTYPE html>
<html lang="en"dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Register For Fast Food Order</title>
        <link href="css/mainreg_style.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>

        <!-- Form container -->
        <div class="container">
            <div class="form-box" >
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Login</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>

                <div class="social-icons">
                    <a href="https://www.facebook.com/"><img src="/css/images/fbicon.png" /></a>
                    <a href="https://www.google.com/"><img src="/css/images/gicon.png"/></a>
                </div>

                <!-- Login form -->
                <form id="login" class="input-group" th:action="@{/login}" method="post" th:object="${user}" >
                    <input class="input-field" type="text" name="email" placeholder="Username" required="true" th:field="*{username}" />
                    <input class="input-field" type="password" name="password" placeholder="Password" required="true" th:field="*{password}" />
                    <div>
                        <button type="submit" class="submit-btn">Login</button>
                    </div>

                </form>
                <!-- Register form -->
                <form id="register" class="input-group"  th:action="@{/loginregister}" method="post" th:object="${user}">
                    <input class="input-field" type="text" name="firstName" placeholder="First Name" required="true" th:field="*{firstName}" />
                    <input class="input-field" type="text" name="lastName" placeholder="Last Name" required="true" th:field="*{lastName}" />
                    <input class="input-field" type="text" name="username" placeholder="Username" required="true" th:field="*{username}" />
                    <input class="input-field" type="password" name="password" placeholder="Password" required="true" th:field="*{password}" />
                    <input class="input-field" type="text" name="phoneNumber" placeholder="Phone Number" required="true" th:field="*{phoneNumber}" />
                    <input class="input-field" type="email" name="email" placeholder="E mail" required="true" th:field="*{email}" />
                    <div>
                        <button type="submit" class="submit-btn">Register</button>
                    </div>
                </form>
            </div>
        </div>


        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function register()
            {

                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }

            function login()
            {
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }
        </script>
    </body>

</html>